<div class="show-container">
  <p>Author: <%= @post.author %></p>
  <p>Title: <%= @post.title %></p>
  <%= @post.body %>
  <div class="options-container">
    <%= link_to 'Edit', edit_post_path %>
    <%= link_to 'Back', posts_path %>
    <%= link_to 'Delete', post_path(@post), data: { turbo_method: :delete } %>
  </div>

  <h4 class="new-comment-title">Comments</h4>
  <div class="comments-container">
    <% @post.comments.each do |comment| %>
    <div class="unique-comment">
      <p>
        Author: <%= comment.author %>
      </p>
      <p>
        Comment: <%= comment.body %>
      </p>
      <p>
        <%= link_to 'Delete', [comment.post, comment], data: { turbo_method: :delete } %>
      </p>
    <% end %>
    </div>
  </div>
  <div class="new-comment-container">
    <h4>New Comment</h4>
    <%= form_with model: [ @post, @post.comments.build ] do |form| %>
      <%= form.label :author %>
      <%= form.text_field :author %>
      <%= form.label :body %>
      <%= form.text_area :body %>
      <%= form.submit %>
    <% end %>
  </div>
</div>

