<div class="show-container">
  <p>Author: <%= @post.author %></p>
  <p>Title: <%= @post.title %></p>
  <%= @post.body %>
  <div class="options-container">
    <%= link_to 'Edit', edit_post_path %>
    <%= link_to 'Back', posts_path %>
    <%= link_to 'Delete', post_path(@post), data: { turbo_method: :delete } %>
  </div>
</div>

